.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 400%;
  height: 110%;
  opacity: 1;
  bottom: -24px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite;
  z-index: 0;
  filter: blur(4px);
}

.border-gradient-top {
  position: absolute;
  opacity: 1;
  width: 400%;
  height: 110%;
  top: -24px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite;
  z-index: 0;
  filter: blur(4px);
}

.inner-content {
  position: relative;
  border: 1px solid #222;
  background: #000;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border-radius: 20px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
